@media screen and (min-width: 1000px) {

    body {
        max-width: 50%;
        margin: 0 auto;
    }

    header {
        box-sizing: border-box;
        text-align: center;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav li {
        flex: 1 1 100%;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 200;
        text-align: center;
    }

    main section {
        box-shadow: 1px 1px 10px black;
    }
}